            <section class="accordion-section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="wrd-section-title-wrapper text-center">
                                <div class="wrd-section-title-content">
                                    <h2 class="wrd-section-title">What's Set?</h2>
                                    <p>Our Variety Pack gives you, and your tastebuds, a chance to experience six of our flavors. Inside you’ll find the following assortment:</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="accordion-wrapper">
                                <div id="accordion">
                                    <div class="card">
                                        <div class="card-header" id="accordion-1">
                                            <div class="accordion-title-and-image-wrapper" data-toggle="collapse" data-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
                                                <div class="accordion-title-image">
                                                    <img src="assets/images/others/accordion-1.png" alt="">
                                                </div>

                                                <div class="accordion-title">
                                                    <h6>Orange Squeeze</h6>
                                                    <span>2 cans included</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div id="collapse-1" class="collapse show" aria-labelledby="accordion-1" data-parent="#accordion">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-lg-9 col-md-9">
                                                        <div class="accordion-content">
                                                            <p>
                                                                Our Orange Squeeze reinvents orange soda with a citrusy, vitamin C rich blend of natural ingredients. Clementine and mandarin juices collide with a hint of lemon to produce a bright twist on the nostalgic classic.
                                                            </p>

                                                            <div>
                                                                <p><strong>Ingredients:</strong> Carbonated Water, OLISMART (Cassava Root Fiber, Chicory Root Inulin, Jerusalem Artichoke Inulin, Nopal Cactus*, Calendula Flower*, Kudzu Root*, Marshmallow Root*, Slippery Elm Bark*), Lemon Juice, Apple Juice Concentrate, Mandarin Juice Concentrate, Cassava Root Syrup, Clementine Juice Concentrate, Rose Hip*, Acerola Cherry*, Stevia Leaf*, Himalayan Pink Salt, Natural Orange Flavor*<br>*Extract</p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-3 col-md-3">
                                                        <div class="ingredient-list">
                                                            <img src="assets/images/others/ingredient.png" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
			</section>