 <section class="review-section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="review-section-title">
                              
                                <h2 class="product-review-title">{{ section.settings.title_heading  }}</h2>
                              
                            </div>
                        </div>

                        <div class="col-lg-8 col-md-8">
                            <div class="product-review-summary">
                                <div class="product-review-average-container">
                                    <div class="average-rating">4.45</div>
                                    <div class="rating-wrapper">
                                        <ul class="ratings wrd-list-style wrd-list-inline">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                    </div>

                                    <div class="rating-count">854 Reviews</div>
                                </div>

                                <div class="product-review-bars-container">
                                    <div class="product-review-bar-wrapper">
                                        <div class="product-review-bar-rating">5</div>
                                        <div class="product-review-bar">
                                            <div class="product-review-bar-filled" style="width: 69%;"></div>
                                        </div>
                                    </div>
                                    <div class="product-review-bar-wrapper">
                                        <div class="product-review-bar-rating">4</div>
                                        <div class="product-review-bar">
                                            <div class="product-review-bar-filled" style="width: 15%;"></div>
                                        </div>
                                    </div>
                                    <div class="product-review-bar-wrapper">
                                        <div class="product-review-bar-rating">3</div>
                                        <div class="product-review-bar">
                                            <div class="product-review-bar-filled" style="width: 11%;"></div>
                                        </div>
                                    </div>
                                    <div class="product-review-bar-wrapper">
                                        <div class="product-review-bar-rating">2</div>
                                        <div class="product-review-bar">
                                            <div class="product-review-bar-filled" style="width: 2%;"></div>
                                        </div>
                                    </div>
                                    <div class="product-review-bar-wrapper">
                                        <div class="product-review-bar-rating">1</div>
                                        <div class="product-review-bar">
                                            <div class="product-review-bar-filled" style="width: 3%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4">
                            <div class="short-and-button-wrapper">
                                <div class="write-review-button">
                                    <a class="wrd-button" href="#">Write Review</a>
                                </div>

                                <div class="review-short">
                                    <select name="locations">
                                        <option value="most-recent">Most Recent</option>
                                        <option value="Oldest">Oldest</option>
                                        <option value="highest-rated">Highest rated</option>
                                        <option value="lowest-rated">Lowest rated</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="review-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="single-review-item">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-4">
                                            <div class="customer-container">
                                                <div class="customer-details">
                                                    <div class="avatar" style="background-color: #9b59b6;">DS</div>
                                                    <div class="author-name-and-verified">
                                                        <h6 class="review-author">Dae S</h6>
                                                        <div class="verified-badge">
                                                            <i class="fas fa-check-circle"></i>
                                                            Verified Buyer
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="recommendation-container">
                                                    <i class="fas fa-check"></i>I recommend this product
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-9 col-md-8">
                                            <div class="review-details">
                                                <div class="rating-wrapper product-review-summary">
                                                    <ul class="ratings wrd-list-style wrd-list-inline">
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                    </ul>
                                                    <div class="review-date">2 days ago</div>
                                                </div>

                                                <h4 class="review-title">Popcorns BFF </h4>

                                                <div class="review-body">For not being a soda drinker, I am lovin Olipop!
                                                    Rather than being sickly sweet and leaving my mouth feeling chalky, it’s refreshing, calms the after lunch grumbles, and also is a great BFF to an evening popcorn snack! While I def lean into Ginger Lemon, Root Beer, or Cola; the fruity flavors also seem to disappear!
                                                </div>

                                                <div class="review-product-container">Review left on: Variety 12-Pack - 12</div>

                                                <div class="review-vote-container">
                                                    <div class="vote-text">Was this review helpful?</div>

                                                    <div class="vote-button">
                                                        <i class="fas fa-thumbs-up"></i>
                                                        <span class="vote-count">0</span>
                                                    </div>

                                                    <div class="vote-button">
                                                        <i class="fas fa-thumbs-down"></i>
                                                        <span class="vote-count">0</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="single-review-item">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-4">
                                            <div class="customer-container">
                                                <div class="customer-details">
                                                    <div class="avatar" style="background-color: #e74c3c;">MS</div>
                                                    <div class="author-name-and-verified">
                                                        <h6 class="review-author">Megan S</h6>
                                                        <div class="verified-badge">
                                                            <i class="fas fa-check-circle"></i>
                                                            Verified Buyer
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="recommendation-container">
                                                    <i class="fas fa-check"></i>I recommend this product
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-9 col-md-8">
                                            <div class="review-details">
                                                <div class="rating-wrapper product-review-summary">
                                                    <ul class="ratings wrd-list-style wrd-list-inline">
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                    </ul>
                                                    <div class="review-date">2 days ago</div>
                                                </div>

                                                <h4 class="review-title">The classic cola was...</h4>

                                                <div class="review-body">For not being a soda drinker, I am lovin Olipop!
                                                    Rather than being sickly sweet and leaving my mouth feeling chalky, it’s refreshing, calms the after lunch grumbles, and also is a great BFF to an evening popcorn snack! While I def lean into Ginger Lemon, Root Beer, or Cola; the fruity flavors also seem to disappear!
                                                </div>

                                                <div class="review-product-container">Review left on: Variety 12-Pack - 12</div>

                                                <div class="review-vote-container">
                                                    <div class="vote-text">Was this review helpful?</div>

                                                    <div class="vote-button">
                                                        <i class="fas fa-thumbs-up"></i>
                                                        <span class="vote-count">0</span>
                                                    </div>

                                                    <div class="vote-button">
                                                        <i class="fas fa-thumbs-down"></i>
                                                        <span class="vote-count">0</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="single-review-item">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-4">
                                            <div class="customer-container">
                                                <div class="customer-details">
                                                    <div class="avatar" style="background-color: #f1c40f;">KP</div>
                                                    <div class="author-name-and-verified">
                                                        <h6 class="review-author">Karrianne</h6>
                                                        <div class="verified-badge">
                                                            <i class="fas fa-check-circle"></i>
                                                            Verified Buyer
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="recommendation-container">
                                                    <i class="fas fa-check"></i>I recommend this product
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-9 col-md-8">
                                            <div class="review-details">
                                                <div class="rating-wrapper product-review-summary">
                                                    <ul class="ratings wrd-list-style wrd-list-inline">
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                    </ul>
                                                    <div class="review-date">2 days ago</div>
                                                </div>

                                                <h4 class="review-title">Variety Pack</h4>

                                                <div class="review-body">For not being a soda drinker, I am lovin Olipop!
                                                    Rather than being sickly sweet and leaving my mouth feeling chalky, it’s refreshing, calms the after lunch grumbles, and also is a great BFF to an evening popcorn snack! While I def lean into Ginger Lemon, Root Beer, or Cola; the fruity flavors also seem to disappear!
                                                </div>

                                                <div class="review-product-container">Review left on: Variety 12-Pack - 12</div>

                                                <div class="review-vote-container">
                                                    <div class="vote-text">Was this review helpful?</div>

                                                    <div class="vote-button">
                                                        <i class="fas fa-thumbs-up"></i>
                                                        <span class="vote-count">0</span>
                                                    </div>

                                                    <div class="vote-button">
                                                        <i class="fas fa-thumbs-down"></i>
                                                        <span class="vote-count">0</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="single-review-item">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-4">
                                            <div class="customer-container">
                                                <div class="customer-details">
                                                    <div class="avatar" style="background-color: #3598db;">CA</div>
                                                    <div class="author-name-and-verified">
                                                        <h6 class="review-author">Christopher A</h6>
                                                        <div class="verified-badge">
                                                            <i class="fas fa-check-circle"></i>
                                                            Verified Buyer
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="recommendation-container">
                                                    <i class="fas fa-check"></i>I recommend this product
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-9 col-md-8">
                                            <div class="review-details">
                                                <div class="rating-wrapper product-review-summary">
                                                    <ul class="ratings wrd-list-style wrd-list-inline">
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                    </ul>
                                                    <div class="review-date">2 days ago</div>
                                                </div>

                                                <h4 class="review-title">Excellent</h4>

                                                <div class="review-body">For not being a soda drinker, I am lovin Olipop!
                                                    Rather than being sickly sweet and leaving my mouth feeling chalky, it’s refreshing, calms the after lunch grumbles, and also is a great BFF to an evening popcorn snack! While I def lean into Ginger Lemon, Root Beer, or Cola; the fruity flavors also seem to disappear!
                                                </div>

                                                <div class="review-product-container">Review left on: Variety 12-Pack - 12</div>

                                                <div class="review-vote-container">
                                                    <div class="vote-text">Was this review helpful?</div>

                                                    <div class="vote-button">
                                                        <i class="fas fa-thumbs-up"></i>
                                                        <span class="vote-count">0</span>
                                                    </div>

                                                    <div class="vote-button">
                                                        <i class="fas fa-thumbs-down"></i>
                                                        <span class="vote-count">0</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="single-review-item">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-4">
                                            <div class="customer-container">
                                                <div class="customer-details">
                                                    <div class="avatar" style="background-color: #7e8c8d;">SW</div>
                                                    <div class="author-name-and-verified">
                                                        <h6 class="review-author">Stephanie</h6>
                                                        <div class="verified-badge">
                                                            <i class="fas fa-check-circle"></i>
                                                            Verified Buyer
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="recommendation-container">
                                                    <i class="fas fa-check"></i>I recommend this product
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-9 col-md-8">
                                            <div class="review-details">
                                                <div class="rating-wrapper product-review-summary">
                                                    <ul class="ratings wrd-list-style wrd-list-inline">
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                    </ul>

                                                    <div class="review-date">2 days ago</div>
                                                </div>

                                                <h4 class="review-title">Sample pack for the win!</h4>

                                                <div class="review-body">For not being a soda drinker, I am lovin Olipop!
                                                    Rather than being sickly sweet and leaving my mouth feeling chalky, it’s refreshing, calms the after lunch grumbles, and also is a great BFF to an evening popcorn snack! While I def lean into Ginger Lemon, Root Beer, or Cola; the fruity flavors also seem to disappear!
                                                </div>

                                                <div class="review-product-container">Review left on: Variety 12-Pack - 12</div>

                                                <div class="review-vote-container">
                                                    <div class="vote-text">Was this review helpful?</div>

                                                    <div class="vote-button">
                                                        <i class="fas fa-thumbs-up"></i>
                                                        <span class="vote-count">0</span>
                                                    </div>

                                                    <div class="vote-button">
                                                        <i class="fas fa-thumbs-down"></i>
                                                        <span class="vote-count">0</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="more-review-button text-center">
                                    <a class="wrd-button" href="#">See More Reviews</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
{% schema %}
  {
    "name": "qt-review-section",
    "settings": [
      {
        "type": "text",
        "id": "title_heading",
        "label": "Main Title"
      }
	],
	"presets":[
		{
			"name": "qt-review-section"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
