<div class="header-top-slider-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="header-slider">
                            <div class="header-slider-item">
                                $3.99 flat rate shipping • Free shipping on orders $50+ (Cont. US)
                            </div>

                            <div class="header-slider-item">
                                Become a subscriber and receive 15% off + free shipping! <a href="#">Subscribe Today.</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% schema %}
  {
    "name": "qt-header-top",
    "settings": [],
	"presets": [
		{
			"name": "qt-header-top"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
