<section class="common__section">
  <div class="product">
    <div class="product__container">
      <div class="product__inner">
        <div class="product__items">
          {% assign collection = collections[section.settings.my_collection] %}
          <div class="row">
            {%- for product in collection.products -%}
            <div class="col-md-4 col-12 col-lg-3">
              <div class="product__items--inner-boxes">
              <div class="shop__image">
                <a href="{{product.url}}"><img src="{{product.featured_image | product_img_url: "master" }} "></a>
              </div>
              <div class="product__name">
                <h2 class="product__name--padding">{{product.title}}</h2>
                <span><i class="far fa-heart"></i></span>
              </div>
              <div class="product__price">
                {{product.price}}
              </div>
              </div>
            </div>
            {%- endfor -%}
          </div>
        </div>  
      </div>
    </div>
  </div>
</section>








{% schema %}
  {
    "name": "QT Feature product",
    "settings": [
		{
          "type": "collection",
          "id": "my_collection",
          "label": "Collection List"
		}
	],
	"presets": [
		{
          "name" : "QT Feature Product",
          "category" : "Collection"
		}
	]
  }
{% endschema %}








